@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

.App {
  background: #f6f9ff;
  min-height: 100vh;
  font-family: 'Assistant', sans-serif;
}

.shorttxt {
  font-size: 14px;
}

.vshorttxt {
  font-size: 12px;
}

button:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

.signin {
  min-width: 310px;
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}